
h5 {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 250px;
	text-align: center;
	font-size: 300px;
	animation: Cyan 0.5s linear infinite;
	animation-delay: 0.25s;
	-webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #11BEF5
}


@keyframes Cyan {
	from {
		text-shadow: 0 0 5px #11bef5,
					 0 0 15px #11BEF5,
					 0 0 30px #11BEF5,
					 0 0 60px #11BEF5;
	}
}